.detail {
	margin-top: 64px;
	padding: 20px;
	.tab {
		margin-right: 320px;
			.stack {
		    	padding-top: 20px;
		    	color: #333;
		    	font-size: 12px;
		    	line-height: 25px;
		    }
		ul {
			height: 40px;
		    list-style: none;
		    margin: 0;
		    padding: 0;
		    text-align: center;
		    line-height: 40px;
		    font-size: 16px;
		    color: #fff;
		    li {
		    	display: inline-block;
		    	width: 50%;
		    	cursor: pointer;
		    	border-right: 2px solid #fff;
		    	box-sizing: border-box;
		    	border-bottom: 2px solid #bbb;
		    	background: #bbb;
		    }
		    li:last-of-type {
		    	border-right: none;
		    }
		    .border {
		    	background: #999;
		    	border-bottom: 2px solid orange;
		    }
		}
	}
	.right-board {
		position: fixed;
		top: 84px;
		right: 20px;
		bottom: 20px;
		width: 300px;
	}
}