.home {
	margin-top: 64px;
	.section-container {
		width: 1000px;
		padding-top: 100px;
		margin: 0 auto;
	}
	.logo-page {
		background: rgb(0, 188, 212);
		padding-top: 150px;
		text-align: center;
		height: 670px;
		box-sizing: border-box;
		h1 {
			font-size: 90px;
			margin: 0;
			padding: 0;
			color: #fff;
			font-family: sans-serif;
			font-weight: 300;
		}
		h3 {
			font-size: 18px;
			margin-top: 50px;
			margin-bottom: 80px;
			font-weight: 300;
			color: #fff;
			font-family: sans-serif;
		}
		a {
			display: inline-block;
		    width: 120px;
		    height: 40px;
		    text-align: center;
		    border: 2px solid #fff;
		    line-height: 45px;
		    color: #fff;
		    text-decoration: none;
		    font-size: 18px;
		    margin-right: 50px;
		}
		a:last-of-type {
			margin-right: 0;
		}
	}

	.map-page {
		height: 670px;
		background: #eee;
		box-sizing: border-box;
		.map-wrapper {
			width: 600px;
			height: 420px;
			display: inline-block;
			vertical-align: middle;
			img {
				width: 100%;
				height: 100%;
			}
		}
	}

	.browser-page {
		height: 620px;
		box-sizing: border;
		padding-left: 100px;
		.pie {
			width: 420px;
			height: 400px;
			vertical-align: middle;
			display: inline-block;
			overflow: hidden;
			img {
				width: 100%;
			}
		}
	}
	.text {
		width: 400px;
		text-align: center;
		display: inline-block;
		color: rgb(0, 188, 212);
		font-size: 24px;
	}


	.detail-page {
		height: 640px;
		padding-left: 100px;
		.detail-image {
			width: 600px;
			height: 480px;
			display: inline-block;
			vertical-align: middle;
			overflow: hidden;
			img {
				width: 100%;
				height: 100%;
			}
		}
	}
	.foot {
		height: 64px;
		background: rgb(52, 59, 71);
		position: relative;
		text-align: center;
		h3 {
			margin: 0;
			padding: 0;
			font-size: 30px;
			line-height: 64px;
			color: #fff;
		}
		.rights {
			position: absolute;
		    top: 19px;
		    left: 34px;
		    color: #fff;
		    font-size: 12px;
		}
		.github, .blog, .doc, .download {
			position: absolute;
		    top: 29px;
		    color: #fff;
		    font-size: 12px;
		    text-decoration: none;
		}
		.github {
			right: 34px;
		}
		.blog {
			right: 80px;
		}
		.doc {
			right: 120px;
		}
		.download {
			right: 202px;
		}
	}
}










