
.et-navbar-accont {
	width: 150px;
	color: #ffffff;
	.et-avatar {
		vertical-align: bottom;
		margin-right: 15px;
		cursor: pointer;
	}
	span {
		border-bottom: 2px solid #ffffff;
	    line-height: 48px;
	    height: 42px;
	    display: inline-block;
	}
}
.loading {
	position: absolute;
	left: 40%;
}